body {
   background: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Buxus_sempervirens_foliage_1.jpg');
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
 }

form {
  display: inline-block;
  margin: 30px 60px 30px 60px;
  width: 20%;
  background: grey;
  font-color: white;
  border-radius: 15px;
  border: solid black 5px;
 }

.container {
  border-radius:40px;
  width: 1050px;
  height: 100%;
  border: solid 3px black;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 1);
    border: dashed grey 8px;
    padding: 0 60px 0 60px;
}

h1{
  text-align: center;
  font-color: white;
}

h4 {
  text-align: center;
}

hr{
  width: 430px;
}

.names{
  font-size: 20px;
}

.product {
  width: 250px;
 padding:5px 40px 20px 0px;
  display: inline-block;
  margin: 30px 20px auto 20px;
  /*background: white;*/
  /*border: solid purple 5px;*/
}

.picture {
  width: 255px;
  height: 230px;
/*  border: solid 3px black;*/
  float: left;
  margin: 40px 20px 20px 20px ;
/*  margin: 0 auto;*/
  display: inline-block;
/*  padding-left: 180px;*/
  border-radius: 20px;
  border: solid black 5px;
}

label {
  margin: 0 auto;
}

.input {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  }

#chinchilla {
background: url("http://a-z-animals.com/media/animals/images/original/chinchilla2.jpg");
background-size: cover;

}
img {
  width: 75px;
  height: 230px;
}

#pig{
  background: url("https://s-media-cache-ak0.pinimg.com/236x/b7/5e/d8/b75ed8f90ed7f5e811cd530c3dda747b.jpg");
  background-size: cover;
}

#fox{
  background: url("https://farm3.static.flickr.com/2935/14136735921_f95fcc7e6e.jpg");
  background-size: cover;
}

#header {
  font-family: 'Fjalla One', sans-serif;
  background: rgba(13, 13, 13, 1);
  width:1170px;
  border-radius: 40px 40px 0 0;
  margin-left: -60px;
  margin-top: -35px;
  color: white;
  font-size: 25px;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
 }

form {
  text-align: center;
  color: white;
}

button {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

button:hover {
    background-color: #004d00;
}
