

hr{
  width: 150px;
}

h1{
/*  text-align: center;*/
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  border-bottom: solid 1px black;
  padding: 20px;
  margin: 0;
  background-color: white;
}

img {
  width: 180px;
  float: right;
}

h3 {
  padding: 10px 20px;
  border-bottom: solid 1px black;
  margin: 0;
  background-color: white;
}

body {
  width: 80%;
  height: /100%;
  border: dotted 1px black;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-image: url("leaf.jpg");
}

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=int], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #6699ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

button:hover {
    background-color: #e600ac;
}

input[type=checkbox] {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: scale(2);
}


p {
  display: inline-block;
  padding: 0 50px 0 10px;
}

span {
  color: #e600ac;
}
